language: node_js
node_js: lts/*

install:
  - npm install

script:
  - npm run build
  - npm run build:docs

cache: npm

deploy:
  - provider: script
    skip_cleanup: true
    on:
      all_branches: true
      condition: $TRAVIS_BRANCH =~ ^(master|alpha)$
    script: npx semantic-release
  - provider: pages
    skip_cleanup: true
    keep_history: true
    github_token: $GH_TOKEN
    on:
      branch: master
    local_dir: docs/.vuepress/dist
